<div class="col-12">
    <ul class="list-group">
        {% if vehiculos %}
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Celda</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Hora de entrada</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Salir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehiculo in vehiculos %}
                        <tr>
                            <th scope="row">{{vehiculo.celda}}</th>
                            <td>{{vehiculo.placa}}</td>
                            <td>{{vehiculo.fecha_ingreso}}</td>
                            <td>{% if vehiculo.celda.estado %}Disponible {% else %} No Disponible{% endif %}</td>
                            <td><a data-bs-toggle="modal" data-bs-target="#modal{{vehiculo.id}}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></td>
                        </tr>
                    {% endfor %}
                    {% for vehiculo in vehiculos %}
                        <div class="modal fade" id="modal{{vehiculo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{vehiculo.placa}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <h5><strong>Ingreso:</strong> {{vehiculo.fecha_ingreso}}</h5>
                                <h5><strong>Salida: </strong> {% now "d/M/Y - H:" %}</h5>
                                <h5><strong>Tarifa: </strong> ${{tarifa}} / minuto</h5>
                                <h5><strong>Precio total: </strong> {{vehiculo.valor_total}} </h5>


                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <a href="{% url 'salir' id=vehiculo.id %}" class="btn btn-primary">Pagar</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </ul>
<div>

    