<div class="col-12 col-md-5 rounded border border-dark p-3 m-2">
    <h4>salida</h4>
    <form method="POST" class="flex-column d-flex text-center">
        {% csrf_token %}
        {% for f in form2 %}
            {% if f != f.fecha_ingreso %}
                <label class="mt-2">{{f.label}}</label>
                <div class="w-100">
                    {{f}}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-outline-dark mt-4">Salir</button>
    </form>
</div>